
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel">
  <a mat-tab-link *ngFor="let link of links" (click)="clickTab($event)" [active]="activeLink == link"> 
      <button mat-icon-button class="example-icon" >
        <mat-icon *ngIf="link == 'Bar Code' || link == 'QR Code'">qr_code</mat-icon>{{link}} 
      </button>
    </a>
  <a mat-tab-link disabled>Disabled Link</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

<div *ngIf="activeLink == 'Bar Code'">
  <p style="color:red" *ngIf="isError">Barcode scan is not available.</p>
  <h3>
    Barcode Scanner - detected barcode:
    <small style="color: blue" *ngIf="!barcodeValue">{{ barcodeValue }}</small>
  </h3>
  <button mat-raised-button class="action-button">
    Save
  </button>
  <button mat-button (click)="cameraToggle(false)" [disabled]="getdisabled(false)">{{barcodeScanner?.started ? 'Stop' : 'Start'}}</button>
  <barcode-scanner-livestream type="code_128" (valueChanges)="onValueChanges($event, false)" (started)="onStarted($event, false)">
  </barcode-scanner-livestream>
</div>

<div *ngIf="activeLink == 'QR Code'">
  <div>
    <img src="./../assets/inpro.png">
  </div>
</div>

<div *ngIf="activeLink == 'Read Me'">

  <p style="color:goldenrod; font-style: oblique; font-size: x-large;margin: 5px;">This is a test project to demonstrate using [Angular 13+].</p>
  <p style="color:goldenrod; font-style: oblique; font-size: x-large;margin: 5px;">I am using [QuaggaJS] Package to read barcode Please ref. to see list of  supported bar code.</p>

</div>


<!-- <ngx-barcode-scanner
  [(value)]="value"
  [codes]="['code_128', 'ean', 'upc', 'upc_e', 'ean_8']"
  [errorThreshold]="0.1"
  (exception)="onError($event)"
></ngx-barcode-scanner> -->
<router-outlet></router-outlet>
